.main {
    width: 120vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-right: 1px solid rgb(190, 190, 190);
}

.container {
    width: 500px;
    height: 95vh;
    margin-inline: 8px;
    cursor: pointer;
}

.projectImage {
    width: 100%;
    height: 520px;
    background-color: black;
    margin-top: 1rem;
    object-fit: cover;
}

.projectName {
    padding: 10px 0 8px 0;
    font-weight: 600;
}

.link {
    color: black;
}