.articles {
    width: 1120px;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50%;
    height: 100%;
    padding-left: 2rem;
    padding-top: 2.5rem;
}

.image1 {
    width: 500px;
    height: 535px;
    background-color: black;
}

.articleContainer {
    width: 100%;
    height: 50%;
    position: relative;
    right: 3rem;
}

.image2 {
    width: 490px;
    height: 222px;
    background-color: black;
    object-fit: cover;
}

.articleTitle {
    margin-top: 6px;
    margin-bottom: 6px;
    font-weight: 600;
}

.articleLink {
    color: black;
}