.section {
    width: calc(100vw - 3rem);
    height: auto;
}

.mainContainer {
    width: 100vw;
    height: auto;
    position: relative;
}

.headingContainer {
    width: 100%;
    height: 58vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.title {
    font-size: 12rem;
    font-weight: 400;
    position: relative;
    top: 3rem;
}

.mainImageContainer {
    width: calc(100vw - 3rem);
    height: auto;
    display: grid;
    grid-template-columns: 29vw 29vw 29vw;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-bottom: 1px solid gray;
}

/* Image item */

.container {
    width: 28vw;
    height: auto;
    padding: 0 0 2rem 0;
}

.imageContainer {
    width: 100%;
    overflow: hidden;
}

.centerContainer > .imageContainer {
    height: 500px;
}

.leftContainer, .centerContainer, .rightContainer {
    position: relative;
    padding-bottom: 2rem;
}

.centerContainer {
    top: 2.3rem;
}

.leftContainer, .rightContainer {
    bottom: 4rem;
}

.Image {
    width: 28vw;
    height: 400px;
    animation: imageZoomRev 0.5s ease forwards;
    object-fit: cover;
}

.Image:hover {
    animation: imageZoom 0.5s ease forwards;
}

.textContainer {
    position: relative;
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    color: black;
}

.articleTitle {
    font-weight: 600;
    padding: 12px 0 8px 0;
    color: black;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.link {
    text-decoration: underline;
    font-family: the-serif;
    font-size: 14px;
}

.linkStyles {
    text-decoration: none;
}

.toTopContainer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toTopContainer > p {
    text-decoration: underline;
    cursor: pointer;
}

@keyframes imageZoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

@keyframes imageZoomRev {
    from {
        transform: scale(1.05);
    }
    to {
        transform: scale(1);
    }
}


@media (max-width: 768px) {

    .section {
        width: 100vw;
        height: auto;
    }

    .headingContainer {
        height: 85vh;
    }

    .title {
        font-size: 11rem;
    }

    .mainImageContainer {
        width: 100%;
        grid-template-columns: 1fr;
        gap: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;
    }

    .container {
        width: calc(100vw - 4rem);
    }

    .Image {
        width: 100%;
    }

    .centerContainer {
        top: 0rem;
    }

    .leftContainer, .rightContainer {
        bottom: 0;
    }

    .leftContainer, .centerContainer, .rightContainer {
        padding-bottom: 0;
    }
}

@media (max-width: 560px) {
    .title {
        font-size: 7rem;
    }
    .container {
        width: calc(100vw - 3rem);
    }
}

@media (max-width: 380px) {
    .title {
        font-size: 5rem;
    }
    .container {
        width: calc(100vw - 2rem);
    }
}