* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
    position: relative;
}

::-webkit-scrollbar {
    display: none;
}

.App {
    width: auto;
    height: 100vh;
    position: relative;
}

.scroll-container {
    position: absolute;
    width: 100vh;
    height: 100vw;
    top: 0;
    left: 0;
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-100vh);
    overflow-x: hidden;
    overflow-y: scroll;
}

.content-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    transform-origin: top left;
    transform: rotate(90deg) translateY(-100vh);
}

.box1 {
    width: 33%;
    height: 105vh;
    background-color: #F06446;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.box2 {
    width: 34%;
    height: 105vh;
    background-color: #F06446;
    position: absolute;
    top: 0;
    left: 33%;
    z-index: 100;
}
.box3 {
    width: 35%;
    height: 105vh;
    background-color: #F06446;
    position: absolute;
    top: 0;
    left: 66%;
    z-index: 100;
}

.animated-box-1 {
    width: 33%;
    height: 105vh;
    background-color: #F06446;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    animation: slideUp 1s ease-out forwards;
    animation-delay: 0.4s;
}
.animated-box-2 {
    width: 34%;
    height: 105vh;
    background-color: #F06446;
    position: absolute;
    top: 0;
    left: 33%;
    z-index: 100;
    animation: slideUp 1s ease-out forwards;
    animation-delay: 0.7s;
}
.animated-box-3 {
    width: 35%;
    height: 105vh;
    background-color: #F06446;
    position: absolute;
    top: 0;
    left: 66%;
    z-index: 100;
    animation: slideUp 1s ease-out forwards;
    animation-delay: 1s;
}

@keyframes slideUp {
    from {
        top: 0;
    } 
    to {
        top: -105vh;
    }
}

@media screen and (max-width: 768px) {

    body {
        width: 100vw;
        overflow-x: hidden;
    }

    ::-webkit-scrollbar {
        display: block;
        background-color: rgb(226, 226, 226);
    }

    ::-webkit-scrollbar-thumb {
        background-color: gray;
    }

    .App {
        width: 100vw;
        height: auto;
    }

    .scroll-container {
        width: auto;
        height: auto;
        position: relative;
        transform: rotate(0) translateX(0);
        transform-origin: none;
    }

    .content-container {
        transform: rotate(0) translateY(0);
        flex-direction: column;
        width: 100vw;
        height: 100%;
        transform-origin: none;
    }
}